@model IEnumerable<Login_System.ViewModels.DateListVM>
@{
    ViewData["Title"] = "ListByDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListByDate</h1>

<p>
    <a asp-action="Create" asp-route-id="">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Evaluation Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @if (item.AdminEval == "Admin Evaluation")
            {
                <td>
                    <span class="text-danger">@Html.DisplayFor(modelItem => item.AdminEval)</span>
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.AdminEval)
                </td>
            }
            <td>
                <a asp-action="SkillList" asp-route-date="@item.Date">View</a> |
            </td>
        </tr>
        }
    </tbody>
</table>

