@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using Login_System.Models
@model Login_System.Models.Employee
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

<fieldset>
    <form asp-action="Add" asp-controller="Employee">
        <div asp-validation-summary="All" class="input-validation-error"></div>
        <p>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" placeholder="First Name" />
            <span asp-validation-for="FirstName"></span>
        </p>

        <p>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
            <span asp-validation-for="LastName"></span>
        </p>

        <p>
            <label asp-for="Telephone"></label>
            <input asp-for="Telephone" class="form-control" placeholder="Telephone" />
            <span asp-validation-for="Telephone"></span>
        </p>

        <p>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" placeholder="E-Mail" />
            <span asp-validation-for="Email"></span>
        </p>
        <p>
            Active
            @Html.RadioButtonFor(Employee => Employee.Active, "Active")
            Inctive
            @Html.RadioButtonFor(Employee => Employee.Active, "Inactive")
        </p>        
        <p>
            <button type="submit">Add</button>
        </p>

    </form>
</fieldset>

