@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using Login_System.ViewModels
@model Login_System.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
@ViewBag.Message
<fieldset>
    <form asp-action="Login" asp-controller="Account">
        <div class="container-fluid">
            <div asp-validation-summary="All" class="input-validation-error"></div>
            <div class="col-sm">
                <label class="form-check-label" asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="col-sm">
                <label class="form-check-label" asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </div>        
    </form>
</fieldset>
