@model Login_System.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>@Html.DisplayFor(model => model.name)</h1>

<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-6" style="text-align:justify;">
            @Html.Raw(Model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
