@model Login_System.Models.Lesson

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/lib/jquery/dist/datepicker-en-GB.js">
</script>
<script>
  $( function() {
      $("#lessonDate").datepicker({
          dateFormat: "dd.mm.yy"
      });
  });

</script>

<h2>Add a lesson</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="CourseID" value="@Model.CourseID" />
            <div class="form-group">
                <label asp-for="LessonName" class="control-label">Name</label>
                <input asp-for="LessonName" class="form-control" />
                <span asp-validation-for="LessonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Date <input class="form-control" asp-for="DateString" type="text" id="lessonDate" /></p>
                <span asp-validation-for="DateString" class="text-danger"></span>
            </div>
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

