@model Login_System.Models.Skills

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Skills.Edit_Title</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OldName" />
            <div class="form-group">
                <label asp-for="Skill" class="control-label">@Resources.Skills.Edit_SkillName</label>
                <input asp-for="Skill" class="form-control" />
                <span asp-validation-for="Skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@Resources.Skills.Edit_BTN_Submit class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">@Resources.Resources.GENERAL_Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
