@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using Login_System.ViewModels
@model Login_System.ViewModels.ForgotPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-6 border-right border-dark">
            <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">@Resources.Resources.ForgotPassword_Submit</button>
            </form>
        </div>
        <div class="col-sm-6">
            <!--    Add info title and text to resourse?  -->
            <h4>@Resources.Resources.ForgotPassword_Title</h4>
            <p>
                @Resources.Resources.ForgotPassword_Desc 
            </p>
        </div>
    </div>
</div>
      
