@model IEnumerable<AppRole>
@{
    ViewData["Title"] = "ListRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Roles</h2>
<h4 class="text-info">@TempData["ActionResult"]</h4>

<form asp-controller="Admin" asp-action="ListRoles">
    <div class="container-fluid p-0">
        <div class="row mb-4">
            <div class="col-sm">
                <input class="form-control" type="text" name="SearchString" placeholder="Search for roles...">
            </div>
            <div class="col-sm">
                <input class="btn btn-info" type="submit" value="Filter" />
                <a class="btn btn-primary" asp-action="CreateRole">Create New</a>
            </div>
        </div>
    </div>
</form>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-4 border-right border-dark">
            @if (Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Role
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @if (item.Name != "Admin" && item.Name != "User")
                                    {
                                        <a asp-action="EditRole" asp-controller="Admin" asp-route-id="@item.Id">Edit | </a>
                                        <a asp-action="Delete" asp-controller="Admin" asp-route-id="@item.Id">Delete</a>
                                    }


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-sm-8">
            <h4>
                List of Roles
            </h4>
            <p>
                Roles "User" and "Admin" cannot be deleted as they are important for the application security.
                You can add new roles but they don't have any functionality. In most cases it's a better idea to use <a asp-action="Index" asp-controller="Groups">GROUPS</a>.
            </p>
        </div>
    </div>
</div>
