@model Login_System.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a new user</h1>
<hr />
<fieldset>
    <form asp-action="Create" asp-controller="AppUsers">
        <div asp-validation-summary="All" class="input-validation-error"></div>
        <p>
            <label asp-for="EMail"></label>
            <input asp-for="EMail" class="form-control" placeholder="E-Mail" autofocus />
            <span asp-validation-for="EMail"></span>
        </p>

        <p>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" placeholder="First Name" />
            <span asp-validation-for="FirstName"></span>
        </p>

        <p>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
            <span asp-validation-for="LastName"></span>
        </p>
        <p>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
            <span asp-validation-for="PhoneNumber"></span>
        </p>
        <p>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword"></span>
        </p>
        <p>
            <button type="submit">Register</button>
        </p>

    </form>
</fieldset>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
