@model Login_System.Models.CompanyGroups

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Resources.Resources.CompanyGroups</h1>
<hr />

<div class="card">
    <div class="card-header"><h5>@Resources.Resources.CompanyGroupName</h5> </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Resources.Resources.CompanyName
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model.companiesInGroups) 
                {
                <tr>
                    <td>
                        @company.Name
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>